{%extends "base.html" %}

{% block content %}
<div class="row justify-content-center gx-4 gy-4 mt-3" style="margin-top: 20px; margin-bottom: 0px;">
  <div class="col-sm-5 col-md-5 col-lg-5">
    <div class="container">
        <div class="header" style="margin-top: 30px;">
            <h1 style="text-align: left;">Contact us</h1>
            <h5 style="text-align: left; margin-top: 10px;">Mohamed is awake 24/7, chained to a chair, ready to answer any questions!</h5>
        </div>
    </div>
  </div>
  <div class="col-sm-5 col-md-5 col-lg-5">
    <!-- Filler column -->
  </div>
</div>
<div class="row justify-content-center gx-4 gy-4 mt-3" style="margin-top: 0px; margin-bottom: 20px;">
    <div class="col-sm-5 col-md-5 col-lg-5">
      <form>
          <div class="mb-3" style="margin-top: 30px; margin-left: 10px;">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3" style="margin-top: 30px; margin-left: 10px;">
              <label for="message" class="form-label">Message</label>
              <textarea class="form-control" id="message" rows="10" placeholder="Tell us what's on your mind"></textarea>
            </div>
          <button type="submit" class="btn btn-primary" style="margin-top:0px; margin-left: 10px; margin-bottom: 0px;">Submit</button>
      </form>
    </div>
    <div class="col-sm- col-md-5 col-lg-5">
      <div class="card" style="width: 18rem;">
        <img src="static/mo_stol.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Mohamed hard at work!</p>
        </div>
      </div>
    </div>
</div>
{% endblock %}