{% extends "base.html" %}

{% block content %}

<!-- Overskrift -->
<div class="container">
    <div class="header" style="margin-top: 30px;">
        <h1 style="text-align: center; margin-top: 10px;">Employee Dashboard</h1>
    </div>
</div>

<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Måneds Arbjedsplan</h2>

<!-- Select User -->
{% for u in users %}
<tr>
  <td>{{ u.name }}</td>
  <td>{{ u.lastname }}</td>
  <td>{{ u.email }}</td>
  <td>{{ u.role.replace('_',' ') }}</td>
  <td>{{ u.created_at }}</td>
</tr>

{% endfor %}

<!-- Table -->
<table class = "table"> 
<table>
  <tr>
    <th>Dato</th>
    <th>Tid arbejdet</th>
    <th>Overtid</th>

  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<table>
  <tr>
    <th>----</th>
    <th>Total tid arbejdet</th>
    <th>Total tid overarbejdet</th>

   <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
   <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>

</table>

</body>
</html>

{% endblock %}