<!-- Check in -->
<form action="/checkin" method="post" class="row g-3 mb-4">
  <div class="col-auto">
    <div class="table-responsive">
   <table class="table table-striped">Organisation & Admin profile</table>
  </div>
  <!-- Dropdown menu til at vælge medarbejder, der skal checke ind-->
    <select name="medarbejder" class="form-control" required>
      <option value="" disabled selected>Vælg medarbejder</option>
      <!-- loop, opret en 'optioin' per medarbejder i listen employees-->
      {% for employee in employees %}
      <option value="{{ employee }}">{{ employee }}</option>
      {% endfor %}
    </select>
   </div>
  <div class="col-auto">
    <!-- sender det afsted til check in-->
    <button class="btn btn-success" type="submit">Check-in</button>
  </div>
</form>

<!-- Check out -->
<form action="/checkout" method="post" class="row g-3 mb-4">
  <div class="col-auto">
    <!-- samme dropdown som ovenfor-->
    <select name="medarbejder" class="form-control" required>
      <option value="" disabled selected>Vælg medarbejder</option>
      {% for employee in employees %}
      <option value="{{ employee }}">{{ employee }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-auto">
    <!-- knappen sender formularen afsted til checkout-->
    <button class="btn btn-danger" type="submit">Check-out</button>
  </div>
</form>

<!-- Session Table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Medarbejder</th>
      <th>Check-in</th>
      <th>Check-out</th>
      <th>Varighed</th>
    </tr>
  </thead>
  <tbody>
    <!-- vis en række per session-->
    {% for s in sessions %}
    <tr>
      <td>{{ s.medarbejder }}</td>
      <td>{{ s.check_in }}</td>
      <td>{{ s.check_out }}</td>
      <td>{{ s.varighed }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}