{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated and current_user.is_sysadmin %}
<div class="container">
    <div class="header" style="margin-top: 30px;">
        <h1 style="text-align: center; margin-top: 10px;">SYSADMIN DASHBOARD</h1>
    </div>
</div>
{% else %}
<div class="container">
    <div class="header" style="margin-top: 30px;">
        <h1 style="text-align: center;">403 - Forbidden</h1>
        <h5 style="text-align: center; margin-top: 10px;">You do not have permission to access this page.</h5>
    </div>
</div>
{% endif %}
{% endblock %}