{%extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header" style="margin-top: 30px;">
        <h1 style="text-align: center;">Meet the team</h1>
    </div>
</div>
<div class="container"></div>
    <div class="row" style="margin-top: 40px;">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card mb-3 h-100" style="max-width: 540px; display: inline-block; ">
                <div class="row g-0 h-100">
                    <div class="col-sm-3">
                        <img src="static/oscar_ikea.png" class="img-fluid h-100 object-fit-cover" alt="...">
                    </div>
                    <div class="col-md-8 d-flex">
                        <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Oscar Ericson</h5>
                        <p class="card-text">Lil cutie-patootie</p>
                        <p class="card-text mt-auto"><small class="text-muted">Email: [PLACEHOLDER]@hvalfangerne.com</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card mb-3 h-100" style="max-width: 540px; display: inline-block; ">
                <div class="row g-0 h-100">
                    <div class="col-sm-3">
                        <img src="static/tobias_beer.png" class="img-fluid h-100 object-fit-cover" alt="...">
                    </div>
                    <div class="col-md-8 d-flex">
                        <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Tobias Bissø</h5>
                        <p class="card-text">Lil cutie-patootie</p>
                        <p class="card-text mt-auto"><small class="text-muted">Email: [PLACEHOLDER]@hvalfangerne.com</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card mb-3 h-100" style="max-width: 540px; display: inline-block; ">
                <div class="row g-0 h-100">
                    <div class="col-sm-3">
                        <img src="static/mo_anime.png" class="img-fluid h-100 object-fit-cover" alt="...">
                    </div>
                    <div class="col-md-8 d-flex">
                        <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Mohamed Sharif</h5>
                        <p class="card-text">Lil cutie-patootie</p>
                        <p class="card-text mt-auto"><small class="text-muted">Email: [PLACEHOLDER]@hvalfangerne.com</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card mb-3 h-100" style="max-width: 540px; display: inline-block; ">
                <div class="row g-0 h-100">
                    <div class="col-sm-3">
                        <img src="static/katrin_jagt.png" class="img-fluid h-100 object-fit-cover" alt="...">
                    </div>
                    <div class="col-md-8 d-flex">
                        <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Katrin Vilhelm</h5>
                        <p class="card-text">Lil cutie-patootie</p>
                        <p class="card-text mt-auto"><small class="text-muted">Email: [PLACEHOLDER]@hvalfangerne.com</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}