{%extends "base.html" %}

{% block content %}
<div class="container">
    <div class="header" style="margin-top: 30px;">
        <h1 style="text-align: center;">Meet the team</h1>
    </div>
</div>
<div class="container"></div>
    <div class="row" style="margin-top: 40px;">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card mb-3 h-100" style="max-width: 700px; display: inline-block; ">
                <div class="row g-0 h-100">
                    <div class="col-sm-4"> 
                        <img src="static/oscar_ikea.png" class="img-fluid h-100 object-fit-cover" alt="...">
                    </div>
                    <div class="col-md-8 d-flex">
                        <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Oscar Ericson</h5>
                        <p class="card-text">Oscar is our CTO. He comes from a large Swedish family and is therefore not originally from around here, 
                            which can sometimes make him a bit hard to understand – but there is absolutely nothing wrong with his mind, aside from a bit of ADD. 
                            He’s our technical genius and makes sure everything just works.
                            With age on his side, Oscar has experienced quite a lot – he was involved in both the Korean War and the Vietnam War, and he was present when the computer was invented. 
                            It immediately sparked his interest, and since then, he has built up an enormous amount of knowledge.
                            Oscar holds an education in programming, project management, embedded systems, and networking.</p>
                        <p class="card-text mt-auto"><small class="text-muted">Email: oscar@hvalfangerne.com</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card mb-3 h-100" style="max-width: 700px; display: inline-block; ">
                <div class="row g-0 h-100">
                    <div class="col-sm-4">
                        <img src="static/tobias_beer.png" class="img-fluid h-100 object-fit-cover" alt="...">
                    </div>
                    <div class="col-md-8 d-flex">
                        <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Tobias Wagner Bissø</h5>
                        <p class="card-text">Tobias comes from central Zealand,
                             where he grew up in peace and quiet – though with dyslexia. 
                             He is our HR Director, fully focused on the well-being and development of our employees. 
                             Since we are a small company, he also reports to our CTO, Oscar.
                            Tobias holds a foundational education in Python, networking, business management, and embedded systems.
                            Combined with a humanities-based background in understanding people, he plays a vital role in the company.
                            <p class="card-text mt-auto"><small class="text-muted">Email: wagner@hvalfangerne.com</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card mb-3 h-100" style="max-width: 700px; display: inline-block; ">
                <div class="row g-0 h-100">
                    <div class="col-sm-4">
                        <img src="static/mo_anime.png" class="img-fluid h-100 object-fit-cover" alt="...">
                    </div>
                    <div class="col-md-8 d-flex">
                        <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Mohamed Sharif</h5>
                        <p class="card-text">Mohammed Sharif is originally from Somalia but grew up in Jutland in a traditional family –
                             so no rubber boat story here. He’s the company’s go-to guy when it comes to customer relations. As our CS (Customer Service), he delivers tough service to anyone who wants it.
                             Available 24/7 – whether he’s asleep, awake, in the shower – you name it. You could say he’s practically tied to it.
                            Since we’re a small company, he also works closely with our CTO, Oscar.
                             With a background in programming, networking, project management, and embedded systems, Mohammed is a vital part of the company.
                            
                            </p>
                        <p class="card-text mt-auto"><small class="text-muted">Email: nasib@hvalfangerne.com</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card mb-3 h-100" style="max-width: 700px; display: inline-block; ">
                <div class="row g-0 h-100">
                    <div class="col-sm-4">
                        <img src="static/katrin_jagt.png" class="img-fluid h-100 object-fit-cover" alt="...">
                    </div>
                    <div class="col-md-8 d-flex">
                        <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Katrin Vilhelm</h5>
                        <p class="card-text">Katrin Vilhelm is our CEO. 
                            She comes from the Faroe Islands and was once the greatest bodybuilder the islands have ever seen.
                            Now retired from that world, she has found a new passion in IT management. Together with the rest of the team, she co-founded Timezone.
                            After retiring from the bodybuilding scene, she pursued an education that gave her 
                            strong knowledge in programming, networking, embedded systems, and project management.</p>
                        <p class="card-text mt-auto"><small class="text-muted">Email: katrin@hvalfangerne.com</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}